.toolbar {
  width: 100px;
  height: 455px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
  background: $light;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  &-tools {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &-note {
    box-shadow: $shadow;
    color: $darkGold;
    border-radius: 5px;
  }
}
